page-products {

    // #map{
    //     height: 100%;
    //     width: 50%;
    // }
    
    // sebm-google-map{
    //     height: 250px;
    // }
    .home{
        position: relative;
    }
    
    }
    .map-wrapper
    {
        width: 100%;
        height: 100%;
    }