page-about-us {

}
.everything
{
  background-color:transparent !important;
  color:black;
   zoom: 2.8;
   position: absolute;
    left:2%;
}
.cl
{
  color:rgb(126, 119, 119);
  size:59vmin;
  text-align: center;
}

.i{
  
}

