page-selection {

}

.everything
{
  background-color:transparent !important;
  color:black;
   zoom: 2.8;
   position: absolute;
    left:2%;
}



.button_specs
{
    height: 0.9in;
    width: 1.5in;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.001em;
    font-size: 17px;
    margin-bottom: 2em;
    background-color: rgb(107, 63, 9);
color: rgb(196, 168, 132);

}
.or-label {
    width: 10%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 20px;
    text-align: center;
    color: red;
    background-color: rgb(107, 63, 9);
  }


.signup-button {
  text-align:center;
}